<header class="header-block line-top">

    <!-- Main Header
    ............................................ -->
    <div class="main-header container">

        <!-- Header Cols -->
        <div class="header-cols">

            <!-- Brand Col -->
            <div class="brand-col hidden-xs">

                <!-- vcenter -->
                <div class="vcenter">
                    <!-- v-centered -->
                    <div class="vcenter-this">
                        <a href="">
                            <img src="Content/images/logo.png" alt="Gb mono">
                        </a>
                    </div>
                    <!-- v-centered -->
                </div>
                <!-- vcenter -->

            </div>
            <!-- /Brand Col -->
            <!-- Right Col -->
            <div class="right-col">
                <!-- vcenter profile / login / register -->
                <div class="vcenter">

                    <!-- v-centered -->
                    <div class="vcenter-this">
                        <!-- Nav Side -->
                        <nav class="nav-side navbar hnav hnav-sm hnav-borderless" role="navigation">

                            <!-- Dont Collapse -->
                            <div class="navbar-dont-collapse no-toggle">

                                <!-- Nav Right -->
                                <ul class="nav navbar-nav navbar-right case-u active-bcolor navbar-center-xs">
                                    <!-- profile -->
                                    <li class="dropdown" ng-show="currentUser.isAuthenticated">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-left ti ti-user"></i><span class="hidden-sm">{{ currentUser.displayName }}</span><i class="fa fa-angle-down toggler"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a ng-href="#/profiles">个人中心</a></li>
                                            <li><a href="" ng-click="logout()">注销</a></li>
                                        </ul>
                                    </li>

                                    <!-- login -->
                                    <li class="dropdown has-panel" ng-show="!currentUser.isAuthenticated">
                                        <a aria-expanded="false" href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-user"></i><span class="hidden-sm">登陆</span><i class="fa fa-angle-down toggler hidden-xs"></i></a>

                                        <!-- Dropdown Panel -->
                                        <div class="dropdown-menu dropdown-panel arrow-top dropdown-left-xs" data-keep-open="true">
                                            <fieldset>
                                                <form>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                            <input class="form-control" placeholder="电子邮件" type="email" ng-model="loginData.email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                            <input class="form-control" placeholder="密码" type="password" ng-model="loginData.password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="checkbox-inline"><input value="" type="checkbox">记住密码 </label>
                                                    </div>
                                                    <button class="btn btn-primary btn-block" ng-click="login()">登陆</button>
                                                </form>
                                            </fieldset>
                                        </div>
                                        <!-- /Dropdown Panel -->

                                    </li>

                                    <!-- register -->
                                    <li class="dropdown has-panel" ng-show="!currentUser.isAuthenticated">
                                        <a aria-expanded="false" href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-pencil-alt"></i><span class="hidden-sm">注册</span><i class="fa fa-angle-down toggler hidden-xs"></i></a>

                                        <!-- Dropdown Panel -->
                                        <div class="dropdown-menu dropdown-panel arrow-top" data-keep-open="true">
                                            <fieldset>
                                                <form>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                            <input class="form-control" placeholder="电子邮件" type="email" ng-model="registerData.email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                            <input class="form-control" placeholder="密码" type="password" ng-model="registerData.password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                            <input class="form-control" placeholder="确认密码" type="password" ng-model="registerData.confirmPassword">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="checkbox-inline"><input value="" type="checkbox">接受条款</label>
                                                    </div>

                                                    <button class="btn btn-primary btn-block" ng-click="register()">注册</button>
                                                </form>
                                            </fieldset>
                                        </div>
                                        <!-- /Dropdown Panel -->

                                    </li>
                                </ul>
                                <!-- /Nav Right-->

                            </div>
                            <!-- /Dont Collapse -->

                        </nav>
                        <!-- /Nav Side -->

                    </div>
                    <!-- /v-centered -->
                </div>
                <!-- /vcenter -->

            </div>
            <!-- /Right Col -->
            <!-- Left Col -->
            <div class="left-col">

                <!-- vcenter -->
                <div class="vcenter">

                    <!-- v-centered -->
                    <div class="vcenter-this">

                        <form class="header-search">
                            <div class="form-group">
                                <input class="form-control" placeholder="搜索" type="text">
                                <button class="btn btn-empty"><i class="fa fa-search"></i></button>
                            </div>
                        </form>

                    </div>
                    <!-- v-centered -->

                </div>
                <!-- vcenter -->

            </div>
            <!-- /Left Col -->
        </div>
        <!-- Header Cols -->

    </div>
    <!-- /Main Header
    .............................................. -->
    <!-- Nav Bottom
    .............................................. -->
    <nav class="nav-bottom hnav hnav-ruled white-bg boxed-section">
        <!-- Container -->
        <div class="container">

            <!-- Header-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle no-border" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-navicon"></i>
                </button>
                <a class="navbar-brand visible-xs" href=""><img src="images/logo-xs.png" alt="H"></a>
            </div>
            <!-- /Header-->
            <!-- Collapse -->

            <div class="collapse navbar-collapse navbar-absolute">

                <!-- Navbar Center -->
                <ul class="nav navbar-nav navbar-center line-top line-pcolor case-c">
                    <li class="active"><a href="#">主页</a></li>
                    <li>
                        <a ng-href="" class="dropdown-toggle" data-toggle="dropdown">药妆产品<i class="fa fa-angle-down toggler"></i></a>
                        <ul class="dropdown-menu">
                            <li><a ng-href="#/shelves">所有货架</a></li>
                            <li><a ng-href="#/shelves/weekly">本周推荐</a></li>
                            <li><a ng-href="#/shelves/season">当季热卖</a></li>
                            <li><a ng-href="#/shelves/brand">品牌特设</a></li>
                            <li><a ng-href="#/products">所有商品</a></li>
                        </ul>
                    </li>
                    <li><a >药妆店</a></li>
                    <li><a ng-href="#/categories">所有分类</a></li>
                    <li><a>促销</a></li>
                    <li><a ng-href="#/brands">所有品牌</a></li>
                    
                </ul>
                <!-- /Navbar Center -->

            </div>
            <!-- /Collapse -->
            <!-- Dont Collapse -->

            <!-- /Dont Collapse -->

        </div>
        <!-- /Container -->

    </nav>
    <!-- /Nav Bottom
    .............................................. -->

</header>

