<div id="cssmenu">
    <ul>
        <li ng-repeat="cate in leftBarCategories"
            ng-class="{ 'has-sub': cate.subCategories.length > 0 }">
                <a href=''><span>{{ cate.name}}</span></a>
                <ul>
                    <li ng-repeat="sub in cate.subCategories">
                        <!--ng-class="{ 'has-sub': sub.subCategories.length > 0 }">-->
                            <a href='#/categories/{{ sub.categoryId }}/products/'><span> {{ sub.name }}</span></a>
                            <!--<ul>
                                <li ng-repeat="leafNode in sub.subCategories">
                                    <a ng-href='#/categories/{{ leafNode.categoryId }}/products/'><span> {{ leafNode.name }}</span></a>
                                </li>
                            </ul>-->
                    </li>
                </ul>
        </li>
    </ul>
</div>
