


<div class="row">
    <div class="col-md-3">
        <!-- Nav Side -->
        <nav class="ukb-nav-side navbar vnav vnav-md" role="navigation">
            <!-- Navbar Collapse-->
            <div class="">
                <!-- Navbar Nav -->
                <ul class="nav navbar-nav line-left">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown"><i class="icon-left fa fa-flag"></i><span class="text">零售商</span><span class="toggler rot-135 ti ti-plus"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="retailer in allRetailers">
                                <a data-viewer="true" href="" ng-click="showRetailShop(retailer.shops)">
                                    {{retailer.name}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown"><i class="icon-left fa fa-flag"></i><span class="text">地区</span><span class="toggler rot-135 ti ti-plus"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a data-viewer="true" href="">
                                    京都
                                </a>
                            </li>
                            <li>
                                <a data-viewer="true" href="">
                                    大阪
                                </a>
                            </li>
                </ul>
                    </li>
                </ul>
                <!-- /Navbar Nav -->
            </div>
            <!-- /Navbar Collapse -->
        </nav>
        <!-- /Top Nav -->
    </div>
    <div class="col-sm-9 main">
        <table ng-repeat="shop in activeRetailShop" >
            <tr class="row">
                <th class="col-md-3 shopsTag">店舗名</th>
                <td class="col-md-9 shopsContent">
                    {{shop.name}}
                </td>
            </tr>
            <tr class="row">
                <th class="col-md-3 shopsTag">电话号码</th>
                <td class="col-md-9 shopsContent">
                    xxxx-xxxx-xxx
                </td>
            </tr>
            <tr class="row">
                <th class="col-md-3 shopsTag">地址</th>
                <td class="col-md-9 shopsContent">
                    {{shop.address}}
                </td>
            </tr>
            <tr class="row">
                <th class="col-md-3 shopsTag">地图</th>
                <td class="col-md-9 shopsContent icon-container">
                    <span class="icon-name"></span>
                    <!--<span class="ti-search" ng-mouseover="showRetailShopMap(shop)"></span>-->
                    <span class="ti-search" ng-click="showRetailShopMap(shop)"></span>
                </td>
            </tr>
        </table>

       

    </div>
</div>


<div id="mapModal" class="modal">
<div class="row" style="padding: 45px">
        <div class="col-md-6 col-md-offset-3" id="mapCanvasDetail" style="height: 500px"></div>
    </div>
</div>
