<div class="row">
    <div class="col-md-2"></div>
    <!--content-->
    <div class="col-md-6">
        <div class="row align-center">
            <a href="http://www.shiseido.com.cn/brand/origin/"><h1>资深堂</h1></a>
        </div>        
        <div>
            <p>
                <h2>品牌名称起源</h2>

                福原有信在担任海军医院的首席药剂师时，年仅23岁。也正是那时，他与同处于20岁初期的同事们一起，创立了日本第一家西式药房。
                源于对当时市面上药品供应的不满，他们由此触发了“汇集世界上一切好的事物，用其推进新创造”的灵感。
                “资生堂”之名，便是由年轻的药剂师从《易经》“至哉坤元，万物资生”中取得，意为“赞美大地的美德，她哺育了新的生命，创造了新的价值”。“堂”则意味着“汇聚”。
            </p>
            <img src="content/images/demo/img01.jpg" />
        </div>
        <div>
            <p>
                <h2>山茶花标志</h2>

                1915年，福原有信的儿子——福原信三成为资生堂第一代董事长。加入公司前，福原信三曾在欧洲学习艺术，深受新艺术派精致之美的影响。
                作为一名摄影师和艺术家，福原信三自行设计了以山茶花为原始形象的标志，表达了他在东京银座创建世界级化妆品牌的愿景。
                这个彰显着天赋、超越时代界限的设计历经考验，一直沿用到今天（多年来仅轻微改动），山茶花标志（“花椿“）也从此成为了资生堂对美的承诺的象征。
            </p>
            <img src="content/images/demo/img02.jpg" />
        </div>
        <div>
            <p>
                <h2>在艺术中分享美</h2>

                资生堂一直致力于培养并发展艺术事业。自创始家族起，融汇艺术与科学的愿望便尤为强烈，多年来，他们对欧洲艺术、文化和设计的极大赞赏也表现在资生堂形象中。
                1919年，画廊开放初期，资生堂持续支持和培养积极进取的日本艺术家。作为日本现仍运营的最古老艺术画廊之一，资生堂画廊举办了超过3100次展览，其中许多初次亮相的艺术家后来都为日本艺术事业作出了巨大的贡献。在日本摄影艺术发展中，福原家族也与之紧密相连。
                在掛川，自1978年起，资生堂美术馆展出了大量资生堂所收藏的当代艺术和设计作品。
                1983年，以“增强文字对美的沟通力量”为目的的花椿当代诗歌奖开始举办。
            </p>
            <img src="content/images/demo/img03.jpg" />
            <img src="content/images/demo/img04.jpg" />
        </div>
        <div>
            <p>
                <h2>在研发中发现美</h2>

                1916年，资生堂在日本开设第一家资生堂研究中心。公司致力于美的重新定义，通过发现新技术和方法，来由内而外拥抱美。由于这份投入，如今在中国、泰国、美国和法国都设有研究中心。资生堂已成为肌肤和护肤领域的，并在皮肤学基础研究中处于领先地位。
                资生堂了解消费者对健康和美的认知及需求，展现出与他们真诚的情感共鸣。带着深切的希望，传达出这样一个理念：美觉醒于五感。
                在产品质量、测试与配方方面，资生堂也一直追求处在高标准的位置。任何天然成分在被加入配方前，都按照公司自有的高标准进行净化。
                2000年，资生堂工厂获得ISO14001认证。公司始终积极响应维护环境意识。
            </p>
            <img src="content/images/demo/img06.jpg" />
            <img src="content/images/demo/img07.jpg" />
        </div>
    </div>
    
    
    <!--content end-->
</div>