<div class="empty-block abs-filler">
    <!-- Vcenter -->
    <div class="vcenter">
        <div class="vcenter-this">
            <!-- Container -->
            <div class="container">
                <!-- Form Panel -->
                <div class="form-panel width-33pc width-100pc-xs hcenter">
                    <header>会员登录</header>
                    <fieldset>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    <input type="email" class="form-control" placeholder="电子邮件">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                    <input type="password" class="form-control" placeholder="密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" value="">记住密码 </label>
                                <a class="pull-right">忘记密码?</a>
                            </div>
                            <button class="btn btn-default btn-lg btn-block">登陆</button>
                        </form>
                    </fieldset>
                </div>
                <!-- /Form Panel -->
                <div class="align-center">Need an Account? <a ng-href="#/register">注册</a></div>
            </div>
            <!-- /Container -->
        </div>
        <!-- /Vcenter this -->
    </div>
    <!-- /Vcenter -->
</div>