<br />
<div class="row">
    <div class="col-xs-1">
        <!-- 留空 -->
    </div>
    <div class="col-xs-10">
        <div id="myTab">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" >个人信息</a></li>
                <li role="presentation"><a href="#favorites" aria-controls="products" role="tab" data-toggle="tab" ng-click="loadFavoriteProducts()">产品收藏夹</a></li>
                <li role="presentation"><a href="#brands" aria-controls="brands" role="tab" data-toggle="tab" ng-click="loadFollowBrands()">关注品牌</a></li>
                <li role="presentation"><a href="#products" aria-controls="brands" role="tab" data-toggle="tab" ng-click="loadFollowProducts()">关注商品</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <!-- leave as blank -->
                </div>
                <div role="tabpanel" class="tab-pane" id="favorites">
                    <div class="row">
                        <div class="col-sm-6 col-md-3" ng-repeat="product in favoriteProducts">

                            <!-- product -->
                            <div class="product clearfix">

                                <!-- Image -->
                                <div class="image product-image">
                                    <a ng-href="#/products/{{product.productId}}" class="main">
                                        <img ng-src="{{product.images[0].url}}" />
                                        <!--<img src="Content/images/Empty_set.png" alt="">-->
                                    </a>
                                    <ul class="additional">
                                        <li>
                                            <a ng-href="#/products/{{product.productId}}" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                <img ng-src="{{product.images[1].url}}" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Image -->
                                <!--<span class="label label-sale" ng-click="test()">sale</span>-->
                                <!-- Details -->
                                <div class="details">

                                    <a class="title" ng-href="#/products/{{product.productId}}" title="{{product.description}}">{{product.primaryName}}</a>

                                    <!-- rating -->
                                    <!--<ul class="hlinks hlinks-rating">
                                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                                    </ul>-->
                                    <!-- /rating -->
                                    <div>
                                        <span>可购入店铺：</span>
                                        <span ng-repeat="retailer in product.retailers">
                                            #<a href="">{{retailer.name}}</a>
                                        </span>
                                    </div>
                                    <!-- Price Box -->
                                    <div class="price-box">
                                        <!--<span class="price price-old">$2350</span>-->
                                        <span class="price">{{product.price}} 元</span>
                                    </div>
                                    <!-- /Price Box -->
                                    <!-- buttons -->
                                    <div class="btn-group">
                                        <a class="btn btn-outline btn-base-hover" href="" ng-click="follow(product.productId,1)">add to note</a>
                                        <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                                    </div>
                                    <!-- /buttons -->

                                </div>
                                <!-- /Details -->

                            </div>
                            <!-- /product -->

                        </div>
                    </div>


                </div>
                <div role="tabpanel" class="tab-pane" id="brands">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2" ng-repeat="brand in followBrands">
                                    <a href="">{{brand.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="products">
                    <div class="row">
                        <div class="col-sm-6 col-md-3" ng-repeat="product in followProducts">

                            <!-- product -->
                            <div class="product clearfix">

                                <!-- Image -->
                                <div class="image product-image">
                                    <a ng-href="#/products/{{product.productId}}" class="main">
                                        <img ng-src="{{product.images[0].url}}" />
                                        <!--<img src="Content/images/Empty_set.png" alt="">-->
                                    </a>
                                    <ul class="additional">
                                        <li>
                                            <a ng-href="#/products/{{product.productId}}" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                <img ng-src="{{product.images[1].url}}" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Image -->
                                <!--<span class="label label-sale" ng-click="test()">sale</span>-->
                                <!-- Details -->
                                <div class="details">

                                    <a class="title" ng-href="#/products/{{product.productId}}" title="{{product.description}}">{{product.primaryName}}</a>

                                    <!-- rating -->
                                    <!--<ul class="hlinks hlinks-rating">
                                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                                    </ul>-->
                                    <!-- /rating -->
                                    <div>
                                        <span>可购入店铺：</span>
                                        <span ng-repeat="retailer in product.retailers">
                                            #<a href="">{{retailer.name}}</a>
                                        </span>
                                    </div>
                                    <!-- Price Box -->
                                    <div class="price-box">
                                        <!--<span class="price price-old">$2350</span>-->
                                        <span class="price">{{product.price}} 元</span>
                                    </div>
                                    <!-- /Price Box -->
                                    <!-- buttons -->
                                    <div class="btn-group">
                                        <a class="btn btn-outline btn-base-hover" href="" ng-click="follow(product.productId,1)">add to note</a>
                                        <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                                    </div>
                                    <!-- /buttons -->

                                </div>
                                <!-- /Details -->

                            </div>
                            <!-- /product -->

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-1">

    </div>
</div>