
<div class="empty-block abs-filler" style="margin-top:30px;">
    <div class="vcenter">
        <div class="vcenter-this">
            <!-- Container -->
            <div class="container">
                <!-- Form Panel -->
                <div class="form-panel width-40pc width-100pc-xs hcenter">
                    <header>注册</header>
                    <fieldset>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    <input type="email" class="form-control" placeholder="电子邮件">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                    <input type="password" class="form-control" placeholder="密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                    <input type="password" class="form-control" placeholder="确认密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" value="">同意 <a class="href">使用条款</a></label>
                            </div>
                            <button class="btn btn-default btn-lg btn-block">注册</button>
                        </form>
                    </fieldset>
                </div>
                <!-- /Form Panel -->
                <div class="align-center">集匠网会员 <a ng-href="#/login">登陆</a></div>
            </div>
            <!-- /Container -->
        </div>
        <!-- /Vcenter this -->
    </div>
</div>


