<div class="row">
    <div class="col-md-2">
        <div ng-include="'app/includes/leftMenuBar.html'"
             ng-controller="leftMenuBarController">
        </div>
    </div>
    <div class="col-md-10" style="padding: 0 20px 0 20px;">
        <div id="mybook">
            <div>
                <blockquote>
                    本周推荐
                </blockquote>
                <img src="../../../content/images/shelves/shelf_1.png" />
            </div>
            <div>
                <blockquote>
                    当季热卖
                </blockquote>
                <img src="../../../content/images/shelves/shelf_2.png" />
            </div>
            <div>
                <blockquote>
                    品牌特设
                </blockquote>
                <img src="../../../content/images/shelves/shelf_3.png" />
            </div>
            <!--<div title="fourth page">
                <h3>Page 4</h3>
            </div>-->
        </div>
    </div>
</div>

