<div>
    <table class="table">
        <tr>
            <td>
                <ul class="hlinks">
                    <li><a href="" style="font-weight:bold;">品牌</a></li>
                </ul>
            </td>
            <td>
                <ul class="hlinks">
                    <li><a href="">资生堂</a></li>
                    <li><a href="">碧柔</a></li>
                    <li><a href="">花王</a></li>
                    <li><a href="">小林制药</a></li>
                </ul>
                
            </td>
        </tr>
        <tr>
            <td>
                <ul class="hlinks">
                    <li><a href="" style="font-weight:bold;">购入渠道</a></li>
                </ul>
            </td>
            <td>
                <ul class="hlinks">
                    <li><a href="">日本境内实体店</a></li>
                    <li><a href="">日本境内网店</a></li>
                    <li><a href="">跨境通网店</a></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>
                <ul class="hlinks">
                    <li><a href="" style="font-weight:bold;">价格</a></li>
                </ul>
            </td>
            <td>
                <!-- 价格 -->
                <ul class="hlinks">
                    <li><a href="">0 - 199</a></li>
                    <li><a href="">200 - 399</a></li>
                    <li><a href="">400 - 599</a></li>
                    <li><a href="">600 - 799</a></li>
                    <li><a href="">800以上</a></li>
                </ul>
            </td>
        </tr>
    </table>

</div>