<div class="row">
    <section class="page-info-block page-info-alt  boxed-section">
        <!-- Container -->
        <div class="container cont-pad-x-15">
            <!-- Breadcrumb -->
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="ti ti-home"></i></a></li>
                <li ng-repeat="category in product.categories"><a ng-href="#/categories/{{category.categoryId}}/products">{{category.name}}</a></li>
            </ol>
            <!-- /Breadcrumb -->
        </div>
        <!-- /Container -->
    </section>
    <div class="col-md-9">
        <div class="col-md-12" style="height:100%">
            <div class="col-md-6 thumbnail align-center no-border">
                <img ng-src="{{product.product_Image_Url}}" style="max-height:300px;max-width:300px" />
            </div>
            <div class="col-md-6 align-center">
                <table class="table table-bordered">
                    <tr>
                        <td class="col-md-2">商品名</td>
                        <td class="col-md-10">{{product.product_Name}}</td>
                    </tr>
                    <tr>
                        <td>容量</td>
                        <td>{{product.content}}</td>
                    </tr>
                    <tr>
                        <td>规格</td>
                        <td>{{product.weight_String}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-2">条形码</td>
                        <td class="col-md-10">{{product.barCode}}</td>
                    </tr>
                    <tr>
                        <td>价格</td>
                        <td>{{product.price|currency:"RMB ￥ "}}</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <td class="col-md-2">产品特征</td>
                        <td class="col-md-10">{{product.description}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <pre class="lead" style="border:hidden;background-color:white">{{product.instruction}}</pre>
            </div>
            <div class="image align-center">
                <img ng-src="{{product.instruction_Image_Url}}" />
            </div>
            <hr />
        </div>

        <div ng-if="product.retailers!=null" class="col-md-6">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <strong>可购入店铺：</strong>
                <ul class="ul-circle">
                    <li ng-repeat="retailer in product.retailers"><a href="">{{retailer.name}}</a></li>
                </ul>
            </div>
        </div>
        <div ng-if="product.webShops!=null" class="col-md-6">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <strong>可购入网店：</strong>
                <ul class="ul-circle">
                    <li ng-repeat="webshops in product.webShops"><a href="">{{webshops.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 align-left">
        <div align="center" ng-if="productBanner.bannerType==2">
            <embed ng-src="{{productBanner.url}}" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always"></embed>
        </div>
        <a ng-href="{{productBanner.redirectUrl}}"  ng-if="productBanner.bannerType==1">
            <img ng-src="{{productBanner.url}}" class="col-md-12" />
        </a>
    </div>

</div>
<div>
    <hr>
</div>