<div class="row">
    <div class="col-md-7">
        <!--basic info -->
        <div>            
            <div class="col-md-3 align-right">制造商：</div>
            <div class="col-md-9 align-left"><strong>{{product.Manufacturer.Name}}</strong></div>    
            <div class="col-md-3 align-right">商品名：</div>
            <div class="col-md-9 align-left"><strong>{{product.PrimaryName}}</strong></div>
            <div class="col-md-3 align-right">容量：</div>
            <div class="col-md-9 align-left"><strong>{{product.Content}} {{product.ContentUnit}}</strong></div>
            <div class="col-md-3 align-right">价格：</div>
            <div class="col-md-9 align-left"><strong>{{product.Price}} 日元</strong></div>
        </div>        
        <!--basic info end-->
        <!--product description-->
        <div style="height:100px"></div>
        <div class="red">
            <div class="col-md-3 align-right">
                商品特征1：                                
            </div>
            <div class="col-md-9">
                <p>moony air fit 搭扣M64片是针对婴儿肌肤，低刺激非常温和的纸尿布。「保护新生儿细腻的肌肤」关爱宝宝每一天。</p>
            </div>            
        </div>
        <!--product description end-->
        <!--product information 「」-->
        <div class="red">
            <div class="col-md-3 align-right">
                商品特征2：
            </div>
            <div class="col-md-9">
                <p>对婴儿肌肤温和的5要点。<br/>
                1.更降低了对婴儿肌肤的刺激。新开发「空气丝素材」。<br />
                2.当然能放心吸收「直到早晨放心吸收体系」。<br />
                3.无缝防御全面松散通气。<br />
                4.腹部周围不紧固舒适自在，360度可伸长贴身」。<br />
                5.也可以牢牢防御软便，「背部泄露防止褶皱」。<br />
               「通知信号」更换时期一目了然<br />
                减少40%摩擦。空气丝素材。M号、9-14kg。<br />
                有不同的包装，请知晓！<br />
                </p>
            </div>  
        </div>
        <!--product information end-->
    </div>
    <!--product image-->
    <div class="col-md-5">
        <div class="col-md-12">
            商品写真<br/>
            <strong>0401 01 1234</strong>
        </div>
        <img ng-src="{{product.Images[0].Url}}" width="224" height="290"/>

        <br />
        <br />
        <!--product retailShops-->
        <div class="col-md-12" ng-show="product.RetailShops!=null">
            <div class="col-md-12">日本可购入店铺:</div>
            <div class="col-md-12" ng-repeat="retail in product.RetailShops"><a href="">{{retail.Name}}</a><br /></div>
            <div class="col-md-12">
                
            </div>
        </div>
        <!--product retailShops end-->
        <!--product webshops-->
        <div style="height:100px"></div>
        <div class="col-md-12" ng-show="product.WebShops!=null">
            <div class="col-md-12">日本可购入店铺:</div>            
            <div class="col-md-12" ng-repeat="webShop in product.WebShops"><a href="" >{{webShop.Name}}</a></div>
            
        </div>
        <!--product webshops end-->
    </div>  
    <!--product image end-->
    
</div>