<link href="../../../content/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../content/css/uikit.css" rel="stylesheet" />
<div class="row">
    <!-- Col -->
    <div class="col-md-5 mgb-30-xs">

        <!-- Slider Wrapper -->
        <div class="main-slider">
            <!-- BxSlider -->
            <div class="bx-wrapper size-sm" style="max-width: 100%;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 550px;">
                    <ul class="bxslider" data-call="bxslider" data-options="{pagerCustom:&#39;#thumb-pager&#39;, controls:false}" style="width: 615%; position: relative; transition-duration: 0s; transform: translate3d(-458px, 0px, 0px);">
                        <li class="bx-clone" style="float: left; list-style: none; position: relative; width: 458px;">
                            <a href=""><img class="fillw" src="content/images/demo/moony4.jpg" alt=""></a>
                        </li>
                        <li class="active" style="float: left; list-style: none; position: relative; width: 458px;">
                            <a href=""><img class="fillw" src="content/images/demo/moony1.jpg" alt=""></a>
                        </li>
                        <li class="active" style="float: left; list-style: none; position: relative; width: 458px;">
                            <a href=""><img class="fillw" src="content/images/demo/moony2.jpg" alt=""></a>
                        </li>
                        <li class="" style="float: left; list-style: none; position: relative; width: 458px;">
                            <a href=""><img class="fillw" src="content/images/demo/moony3.jpg" alt=""></a>
                        </li>
                        <li class="" style="float: left; list-style: none; position: relative; width: 458px;">
                            <a href=""><img class="fillw" src="content/images/demo/moony4.jpg" alt=""></a>
                        </li>
                        <li class="active bx-clone" style="float: left; list-style: none; position: relative; width: 458px;">
                            <a href=""><img class="fillw" src="content/images/demo/moony1.jpg" alt=""></a>
                        </li>
                    </ul>
                </div><div class="bx-controls"></div>
            </div>
            <!-- /BxSlider -->
        </div>
        <!-- /Slider Wrapper -->
        <!-- Slider Wrapper -->
        <div class="thumb-slider bx-controls-box">
            <div class="bx-wrapper size-sm" style="max-width: 1902px; margin: 0px auto;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 113px;">
                    <ul id="thumb-pager" class="bxslider" data-call="bxslider" data-options="{pager:false, slides:4, slideMargin:10}" style="width: 615%; position: relative; transition-duration: 0s; transform: translate3d(-418px, 0px, 0px);">
                        <li class="active bx-clone" style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;">
                            <a data-slide-index="0" href="" class=""><img class="fillw" src="content/images/demo/moony1.jpg" alt=""></a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;" class="bx-clone">
                            <a data-slide-index="1" href=""><img class="fillw" src="content/images/demo/moony2.jpg" alt=""></a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;" class="bx-clone">
                            <a data-slide-index="2" href=""><img class="fillw" src="content/images/demo/moony3.jpg" alt=""></a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;" class="bx-clone">
                            <a data-slide-index="3" href=""><img class="fillw" src="content/images/demo/moony4.jpg" alt=""></a>
                        </li>
                        <li class="active" style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;">
                            <a data-slide-index="0" href="" class=""><img class="fillw" src="content/images/demo/moony1.jpg" alt=""></a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;">
                            <a data-slide-index="1" href=""><img class="fillw" src="content/images/demo/moony2.jpg" alt=""></a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;">
                            <a data-slide-index="2" href=""><img class="fillw" src="content/images/demo/moony3.jpg" alt=""></a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;">
                            <a data-slide-index="3" href=""><img class="fillw" src="content/images/demo/moony4.jpg" alt=""></a>
                        </li>
                        <li class="active bx-clone" style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;">
                            <a data-slide-index="0" href="" class=""><img class="fillw" src="content/images/demo/moony1.jpg" alt=""></a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;" class="bx-clone">
                            <a data-slide-index="1" href=""><img class="fillw" src="content/images/demo/moony2.jpg" alt=""></a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;" class="bx-clone">
                            <a data-slide-index="2" href=""><img class="fillw" src="content/images/demo/moony3.jpg" alt=""></a>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 94.5px; margin-right: 10px;" class="bx-clone">
                            <a data-slide-index="3" href=""><img class="fillw" src="content/images/demo/moony4.jpg" alt=""></a>
                        </li>
                    </ul>
                </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev disabled" href=""></a><a class="bx-next disabled" href=""></a></div></div>
            </div>
        </div>
        <!-- /Slider Wrapper -->

    </div>
    <!-- Row -->    
    <!-- /Col -->
    <div class="col-md-7">
        <h3 class="product-title">{{product.PrimaryName}}</h3>
    </div>
</div>
<script src="../../../scripts/jquery-latest.min.js"></script>
<script src="../../../scripts/uikit.js"></script>