<div class="row">

    <!--Tempory Style,will be removed-->
    <style>
        .product .image .additional > li {
            width: 100%;
            height: 100%
        }
    </style>

    <!-- Col -->
    <div class="col-sm-6 col-md-3" ng-repeat="product in products">

        <!-- product -->
        <div class="product clearfix">

            <!-- Image -->
            <div class="image product-image" >
                <a href="product.html" class="main">
                    <img ng-src="{{product.images[0].url}}"/>
                    <!--<img src="Content/images/Empty_set.png" alt="">-->
                </a>
                <ul class="additional">
                    <li>
                        <a ng-href="#/products/{{product.productId}}" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                            <img ng-src="{{product.images[1].Url}}" />
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Image -->

            <!--<span class="label label-sale" ng-click="test()">sale</span>-->

            <!-- Details -->
            <div class="details">

                <a class="title" href="product.html">{{product.primaryName}}</a>

                <!-- rating -->
                <!--<ul class="hlinks hlinks-rating">
                    <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                </ul>-->
                <!-- /rating -->

                <p>{{product.description}}</p>

                <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>

                <!-- Price Box -->
                <div class="price-box">
                    <!--<span class="price price-old">$2350</span>-->
                    <span class="price">{{product.price}} 元</span>
                </div>
                <!-- /Price Box -->
                <!-- buttons -->
                <div class="btn-group">
                    <a class="btn btn-outline btn-base-hover" href="cart.html">add to note</a>
                    <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                </div>
                <!-- /buttons -->

            </div>
            <!-- /Details -->

        </div>
        <!-- /product -->

    </div>
 

</div>