<div class="row">

    <!-- Col -->
    <div class="col-sm-6 col-md-3">

        <!-- product -->
        <div class="product clearfix">

            <!-- Image -->
            <div class="image">
                <a href="product.html" class="main"><img src="Content/images/Empty_set.png" alt=""></a>
                <ul class="additional">
                    <li><a href="Content/images/Empty_set.png" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="Content/images/Empty_set.png" alt=""></a></li>
                    <li><a href="Content/images/Empty_set.png" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="Content/images/Empty_set.png" alt=""></a></li>
                    <li><a href="Content/images/Empty_set.png" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="Content/images/Empty_set.png" alt=""></a></li>
                    <li><a href="Content/images/Empty_set.png" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="Content/images/Empty_set.png" alt=""></a></li>
                </ul>
            </div>
            <!-- Image -->

            <span class="label label-sale" ng-click="test()">sale</span>

            <!-- Details -->
            <div class="details">

                <a class="title" href="product.html">Gb mono1</a>

                <!-- rating -->
                <ul class="hlinks hlinks-rating">
                    <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                </ul>
                <!-- /rating -->

                <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>

                <!-- Price Box -->
                <div class="price-box">
                    <span class="price price-old">$2350</span><span class="price">$1500</span>
                </div>
                <!-- /Price Box -->
                <!-- buttons -->
                <div class="btn-group">
                    <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>
                    <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                </div>
                <!-- /buttons -->

            </div>
            <!-- /Details -->

        </div>
        <!-- /product -->

    </div>
    <!-- /Col -->
    <!-- Col -->
    <div class="col-sm-6 col-md-3">

        <!-- product -->
        <div class="product clearfix">

            <!-- Image -->
            <div class="image">
                <a href="product.html" class="main"><img src="Content/images/Empty_set.png" alt=""></a>
                <ul class="additional">
                    <li><a href="Content/images/Empty_set.png" data-gal="prettyPhoto[gallery 3]" title="Product Name"><img src="Content/images/Empty_set.png" alt=""></a></li>
                    <li><a href="Content/images/Empty_set.png" data-gal="prettyPhoto[gallery 3]" title="Product Name"><img src="Content/images/Empty_set.png" alt=""></a></li>
                    <li><a href="Content/images/Empty_set.png" data-gal="prettyPhoto[gallery 3]" title="Product Name"><img src="Content/images/Empty_set.png" alt=""></a></li>
                    <li><a href="Content/images/Empty_set.png" data-gal="prettyPhoto[gallery 3]" title="Product Name"><img src="Content/images/Empty_set.png" alt=""></a></li>
                </ul>
            </div>
            <!-- Image -->

            <span class="label label-hot">popular</span>

            <!-- Details -->
            <div class="details">

                <a class="title" href="product.html">Gb mono 2</a>

                <!-- rating -->
                <ul class="hlinks hlinks-rating">
                    <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                </ul>
                <!-- /rating -->

                <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>

                <!-- Price Box -->
                <div class="price-box">
                    <span class="price">$840</span>
                </div>
                <!-- /Price Box -->
                <!-- buttons -->
                <div class="btn-group">
                    <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>
                    <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                </div>
                <!-- /buttons -->

            </div>
            <!-- /Details -->

        </div>
        <!-- /product -->

    </div>
    <!-- /Col -->

</div>