<!-- Intro Block
============================================ -->
<div class="intro-block mgb-20">

    <!-- Container -->
    <div class="container">

        <div class="row">
            <div class="col-xs-8">
                <!-- Slider Wrapper -->
                <div class="intro-slider">

                    <!-- BxSlider -->
                    <div class="bxslider" data-call="bxslider" data-options="{pager:false, mode:'fade'}">

                        <!-- Slide -->
                        <div class="slide">
                            <img class="img-main" src="content/images/slider3.png" alt="" /><!-- slider image + background -->
                            <!-- Text -->
                            <div class="text">
                                <div class="vcenter">
                                    <div class="vcenter-this text-block">
                                        <!--<h5 class="bx-layer" data-anim="bounceInLeft" data-dur="1000" data-delay="700">from 5th March - 26 March</h5>
                                        <h1 class="bx-layer" data-anim="bounceInDown" data-dur="1000" data-delay="100">fresh from the runway</h1><br />
                                        <p class="bx-layer" data-anim="bounceInRight" data-dur="1000" data-delay="500">Helena is a freelance fashion house specialisings in print designs and fabrics.</p>
                                        <a class="btn btn-white bx-layer" data-anim="bounceInUp" data-dur="1000" data-delay="1000">GBmono Highlight</a>-->
                                    </div>
                                </div>
                            </div>
                            <!-- /Text -->
                        </div>
                        <!-- /Slide -->
                        <!-- Slide -->
                        <!--<div class="slide">
                            <img class="img-main" src="Content/images/slide2.png" alt="" />

                            <div class="text">
                                <div class="vcenter">
                                    <div class="vcenter-this text-block">
                                        <h5 class="bx-layer" data-anim="bounceInLeft" data-dur="1000" data-delay="700">from 5th March - 26 March</h5>
                                        <h1 class="bx-layer" data-anim="bounceInDown" data-dur="1000" data-delay="100">designer clothes only</h1><br />
                                        <p class="bx-layer" data-anim="bounceInRight" data-dur="1000" data-delay="500">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur veli..</p>
                                        <a class="btn btn-white bx-layer" data-anim="bounceInUp" data-dur="1000" data-delay="1000">GBmono Highlight</a>
                                    </div>
                                </div>
                            </div>

                            </div>-->
                        <!-- /Slide -->



                    </div>
                    <!-- /BxSlider -->

                </div>
                <!-- Slider Wrapper -->
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">折扣券 && 赠品</div>
                    <div class="panel-body">
                        <div class="row">
                            <img src="content/images/sample1.png" />
                            <br /><br />
                            <img src="content/images/sample1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading">新闻 && 咨询</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="content/images/home/top_s3.bnr01.png" />
                            </div>
                            <div class="col-xs-6">
                                <img src="content/images/home/top_s3.bnr01.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">推荐商品 && 新品 </div>
                    <div class="panel-body">
                        <!-- Row -->
                        <div class="row">

                            <!-- Col -->
                            <div class="col-xs-12">

                                <!-- product -->
                                <div class="product product-listview clearfix">

                                    <!-- Image -->
                                    <div class="image">
                                        <a href="product.html" class="main">
                                            <img src="content/images/demo/merries2_f.jpg" />
                                            <!--<img src="Content/images/Empty_set.png" alt="">-->
                                        </a>
                                        <ul class="additional">
                                            <li>
                                                <a href="#/products/4" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                    <img src="content/images/demo/merries2_b.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/products/5" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                    <img src="content/images/demo/merries2_b.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/products/6" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                    <img src="content/images/demo/merries2_b.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/products/7" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                    <img src="content/images/demo/merries2_b.jpg" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Image -->
                                    <!--<span class="label label-sale" ng-click="test()">sale</span>-->
                                    <!-- Details -->
                                    <div class="details">

                                        <a class="title" href="product.html">纸尿布</a>

                                        <p>日本本土现货花王拉拉裤 1</p>

                                        <p class="desc">商品描述</p>

                                        <!-- Price Box -->
                                        <div class="price-box">
                                            <span class="price price-old">180</span>
                                            <span class="price">140</span>
                                        </div>
                                        <!-- /Price Box -->
                                        <!-- buttons -->
                                        <div class="btn-group">
                                            <a class="btn btn-outline btn-base-hover" href="cart.html">add to note</a>
                                            <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                                        </div>
                                        <!-- /buttons -->

                                    </div>
                                    <!-- /Details -->

                                </div>
                                <!-- /product -->

                            </div>
                            <!-- /Col -->
                            <!-- Col -->
                            <div class="col-xs-12">

                                <!-- product -->
                                <div class="product product-listview clearfix">

                                    <!-- Image -->
                                    <div class="image">
                                        <a href="product.html" class="main">
                                            <img src="content/images/demo/merries2_f.jpg" />
                                            <!--<img src="Content/images/Empty_set.png" alt="">-->
                                        </a>
                                        <ul class="additional">
                                            <li>
                                                <a href="#/products/8" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                    <img src="content/images/demo/merries2_b.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/products/9" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                    <img src="content/images/demo/merries2_b.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/products/10" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                    <img src="content/images/demo/merries2_b.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/products/11" data-gal="prettyPhoto[gallery 1]" title="Product Name">
                                                    <img src="content/images/demo/merries2_b.jpg" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Image -->
                                    <!--<span class="label label-sale" ng-click="test()">sale</span>-->
                                    <!-- Details -->
                                    <div class="details">

                                        <a class="title" href="product.html">纸尿布</a>

                                        <p>日本本土现货花王拉拉裤 2</p>

                                        <p class="desc">商品描述</p>

                                        <!-- Price Box -->
                                        <div class="price-box">
                                            <span class="price price-old">180</span>
                                            <span class="price">140</span>
                                        </div>
                                        <!-- /Price Box -->
                                        <!-- buttons -->
                                        <div class="btn-group">
                                            <a class="btn btn-outline btn-base-hover" href="cart.html">add to note</a>
                                            <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                                        </div>
                                        <!-- /buttons -->

                                    </div>
                                    <!-- /Details -->

                                </div>
                                <!-- /product -->

                            </div>
                            <!-- /Col -->


                        </div>
                        <!-- /Row -->
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">商品情报</div>
                    <div class="panel-body">
                        <!-- Row -->
                        <div class="row">
                            <!-- Col -->
                            <div class="col-xs-12">
                                <!-- hfeat -->
                                <div class="hfeat">
                                    <i class="icon fa fa-apple"></i>
                                    <a class="title">2016年01月10日</a>
                                    <p class="text">【お知らせ】マツモトキヨシ オンラインストアがJALカード特約店とANA カードマイルプラスに対応しました</p>
                                </div>
                                <!-- /hfeat -->
                            </div>
                            <!-- /Col -->
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">品牌商</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="content/images/home/ftr_logo_midoriyakuhin.png" />
                            </div>
                            <div class="col-xs-6">
                                <img src="content/images/home/ftr_logo_papasu.png" />
                            </div>
                            <div class="col-xs-6">
                                <img src="content/images/home/ftr_logo_simeno.png" />
                            </div>
                            <div class="col-xs-6">
                                <img src="content/images/home/ftr_logo_tobudrug.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">网店</div>
                    <div class="panel-body">
                        <div style="margin-bottom:10px;">
                            <img src="content/images/home/top_right_tmall.png" />
                        </div>
                        <div>
                            <img src="content/images/home/top_right_tmall.png" />
                        </div>
                    </div>
                </div>

                
            </div>
        </div>

    </div>
    <!-- /Container -->

</div>

<!-- /Intro Block
============================================ -->




<!-- Content Block
============================================ -->
<div class="content-block mgb-20">

    <!-- Container -->
    <div class="container no-pad-t">


    </div>
    <!-- /Product Tabs -->

</div>
<!-- /Container -->