<br />
<div class="row">
   <div class="col-xs-1">
       <!-- 留空 -->
   </div>
   <div class="col-xs-10">
       <div id="myTab">
           <!-- Nav tabs -->
           <ul class="nav nav-tabs" role="tablist">
               <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">个人信息</a></li>
               <li role="presentation"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">产品收藏夹</a></li>
               <li role="presentation"><a href="#brands" aria-controls="brands" role="tab" data-toggle="tab">关注品牌</a></li>
           </ul>

           <!-- Tab panes -->
           <div class="tab-content">
               <div role="tabpanel" class="tab-pane active" id="profile">个人信息页</div>
               <div role="tabpanel" class="tab-pane" id="products">产品</div>
               <div role="tabpanel" class="tab-pane" id="brands">品牌</div>
           </div>

       </div>
   </div>
    <div class="col-xs-1">

    </div>
</div>