<div class="row">
    <!--留白-->
    <div class="col-md-1"></div>
    <!--中间信息-->
    <div class="col-md-8">
        <div class="row">
            <article class="blog-entry">
                <img src="content/images/demo/zishentang.jpg" alt="pic">
                <h4><a href="blog-post.html">新品发布</a></h4>
                <div class="meta">
                    <span class="date"><i class="fa fa-calendar"></i><a href="#">2016年2月1号</a></span>
                </div>
                <p>2016年资生堂新品介绍....</p>
                <a href="blog-post.html" class="continue btn btn-primary">详情</a>

            </article>
        </div>
        <div class="row">
            <article class="blog-entry">
                <img src="content/images/demo/zishentang.jpg" alt="pic">
                <h4><a href="blog-post.html">新品发布</a></h4>
                <div class="meta">
                    <span class="date"><i class="fa fa-calendar"></i><a href="#">2016年2月1号</a></span>
                </div>
                <p>2016年资生堂新品介绍....</p>
                <a href="blog-post.html" class="continue btn btn-primary">详情</a>

            </article>
        </div>
    </div>
    <!--广告留白-->
    <div class="col-md-3" style="cursor:pointer">
        <a ng-href="" >
            <img ng-src="content/images/demo/IMG_0919.jpg" class="col-md-12" />
        </a>
    </div>
</div>

