<div class="row">
    <!--留白-->
    <div class="col-md-1"></div>
    <!--中间信息-->
    <div class="col-md-8">
        <div class="row">
            <article class="blog-entry">
                <img src="content/images/demo/zishentang.jpg" alt="pic">
                <h4><a href="blog-post.html">Brand new theme released</a></h4>
                <div class="meta">
                    <span class="date"><i class="fa fa-calendar"></i><a href="#">Feb 11, 2015</a></span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="blog-post.html" class="continue btn btn-primary">read more</a>

            </article>
        </div>
        <div class="row">
            <article class="blog-entry">
                <img src="content/images/demo/zishentang.jpg" alt="pic">
                <h4><a href="blog-post.html">Brand new theme released</a></h4>
                <div class="meta">
                    <span class="date"><i class="fa fa-calendar"></i><a href="#">Feb 11, 2015</a></span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="blog-post.html" class="continue btn btn-primary">read more</a>

            </article>
        </div>
        <div class="row">
            <article class="blog-entry">
                <img src="content/images/demo/zishentang.jpg" alt="pic">
                <h4><a href="blog-post.html">Brand new theme released</a></h4>
                <div class="meta">
                    <span class="date"><i class="fa fa-calendar"></i><a href="#">Feb 11, 2015</a></span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="blog-post.html" class="continue btn btn-primary">read more</a>

            </article>
        </div>
        <div class="row">
            <article class="blog-entry">
                <img src="content/images/demo/zishentang.jpg" alt="pic">
                <h4><a href="blog-post.html">Brand new theme released</a></h4>
                <div class="meta">
                    <span class="date"><i class="fa fa-calendar"></i><a href="#">Feb 11, 2015</a></span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="blog-post.html" class="continue btn btn-primary">read more</a>

            </article>
        </div>
    </div>
    <!--广告留白-->
    <div class="col-md-3" style="cursor:pointer">
        <a ng-href="" >
            <img ng-src="content/images/demo/IMG_0919.jpg" class="col-md-12" />
        </a>
    </div>
</div>

